<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App DownloadListWeb</title>

    <!-- Styles -->
    @*<link rel="icon" type="~/Image/ico" sizes="32x32" href="~/Image/favicon.ico" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/Home/styleIndex.css" />

</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="">Container</a>
            <div class="">
                <ul class="">
                    <li class="">
                        <a class="">Home</a>
                    </li>
                    <li class="">
                        <a class="">Link</a>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </div>
</body>
</html>