:root {
    /* Primary: Seasoned Apple Green */
    --primary-100: #F9FFF2;
    --primary-200: #E0FEB5;
    --primary-300: #C9F675;
    --primary-400: #AEE035;
    --primary-500: #8BB500;
    --primary-600: #789100;
    --primary-700: #616E00;
    --primary-800: #464A00;
    --primary-900: #262600;
    /* Accent: Rose Red */
    --accent-100: #FFF2F3;
    --accent-200: #FEBFC5;
    --accent-300: #F88A9A;
    --accent-400: #E85372;
    --accent-500: #C9204D;
    --accent-600: #A10B3C;
    --accent-700: #78022F;
    --accent-800: #4F0023;
    --accent-900: #260013;
    /* Neutral */
    --neutral-000: #FFFFFF;
    --neutral-100: #FBFCFA;
    --neutral-200: #E8EAE5;
    --neutral-300: #D5D7D1;
    --neutral-400: #C2C5BD;
    --neutral-500: #B0B3AA;
    --neutral-600: #8D8F86;
    --neutral-700: #6B6C64;
    --neutral-800: #484943;
    --neutral-900: #262622;
    /* Transparent */
    --transparent-000: rgba(251, 252, 250, 1);
}

body {
    background: var(--neutral-000);
    border: 4px solid var(--neutral-100);
    border-radius: 6px;
    box-shadow: 0 0px 1px var(--neutral-400), 0 2px 4px var(--neutral-500), 0 10px 6px var(--neutral-300);
}

/* Heard */
.heard-custom {
    display: flex;
    justify-content: center;
    align-items: center;

}

    .heard-custom label {
        color: var(--neutral-600);
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        padding: 5.5px 0px 8px;
    }

.navbar-custom {
    background: linear-gradient(to right, var(--primary-600), var(--primary-400));
    color: var(--neutral-100);
    height: 95px;
    gap: 8px; 
    padding: 15px 15px 45px; 
}

    .navbar-custom .navbar-brand-custom {
        color: var(--neutral-100);
    }

        .navbar-custom .navbar-brand-custom:hover {
            color: var(--neutral-100);
        }

        .navbar-custom .navbar-brand-custom:focus {
            color: var(--neutral-100);
        }

    .navbar-custom .navbar-toggler-custom:focus {
        text-decoration: none;
        box-shadow: unset;
    }

    .navbar-custom .offcanvas-body-custom {
        align-items: center;
        justify-content: center;
    }

    .navbar-custom .nav-link:hover {
    }

    .navbar-custom .form-custom {
        height: 32px;
    }
/* Component */
.btn-custom {
    color: var(--primary-500);
    border-color: #CEC8D4;
}

@media (min-width: 1200px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}


