@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App DownloadListWeb</title>

    <!-- Styles -->
    @*<link rel="icon" type="~/Image/ico" sizes="32x32" href="~/Image/favicon.ico" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/Common/styleCommon.css" />

</head>
<body>
    <div class="heard-custom">
        <label></label>
    </div>
    <div>
        <div></div>
        <div>
            下灰底

            福底

        </div> 
    </div>
</body>
</html>